{% extends "menu.html" %}

{% block header %}
<h1>Appointment</h1>
{% endblock %}

{% block content %}
<div class="container">
<h4>Write your Appointment:</h4>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.EntryTitle.label }}
            {% if form.EntryTitle.errors %}
                {% for e in form.EntryTitle.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ form.EntryTitle(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.EntryDate.label }}
            {% if form.EntryDate.errors %}
                {% for e in form.Date.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ form.EntryDate(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.EntryAddress.label }}
            {% if form.EntryAddress.errors %}
                {% for e in form.Address.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ form.EntryAddress(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.EntryName.label }}
            {% if form.EntryName.errors %}
                {% for e in form.Name.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ form.EntryName(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.EntryNote.label }}
            {% if form.EntryNote.errors %}
                {% for e in form.Note.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ form.EntryNote(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.submit(class_='btn btn-primary') }}
        </div>
        <a type = "button" href="{{ url_for('main.appointmentview') }}">View All Appointments</a></p>
    </form>
</div>
{% endblock content %}
